### Python TASK (15min)###
Write a function which accepts two strings - Main String and Fetch String and returns a result as True or False.

The function tries to find any possible anagram of fetch string in the main string

#### Example
all anagrams of 'abc': 'abc', 'acb', 'bac', 'bca', 'cab', 'cba'


No external libraries and packages are allowed to be used. 
#### For example 
*  if the main string is 'ihavelivedthebestlife' and the fetch string is 'bees' then the function should return True
* if in the above example the fetch string is 'hide' then the function should return False
* if in the above example the fetch string is 'devil' then the function should return True

In [ ]:
# 'ihavelivedthebestlife' main_s 
# 'bees' fetch_s
#please write your function here

def anagram(main_s, fetch_s):
  pass

In [ ]:
#please test the result here
anagram('ihavelivedthebestlife', 'bees')

In [ ]:
anagram('ihavelivedthebestlife', 'hide')

In [ ]:
anagram('ihavelivedthebestlife', 'devil')

### SQL TASK (15min) ###
Please work on this task on your SQL editor: Postgresql, sql server etc.
Or online SQL editor: https://sqliteonline.com/

Given are the following tables: 
 
* Hackers: The hacker_id is the id of the hacker, and name is the name of the 
hacker.
* Challenges: The challenge_id is the id of the challenge, and hacker_id is the id of the hacker who created the challenge.
 
Write a query to print the hacker_id, name, and the total number of challenges created by each hacker. 
* Sort your results by the total number of challenges in descending order. If more than one student created the same number of challenges, then sort the result by hacker_id. 
* If more than one student created the same number of challenges and the count is less than the maximum number of challenges created, then exclude those students from the result.

### Query To Create The Table ###
Please copy it to your SQL editor. 

```
CREATE TABLE hackers(
	hacker_id int,
	hacker_name VARCHAR(50),
  	primary key(hacker_id)
);

INSERT INTO hackers
VALUES (12299,'Rose'),
(34856,'Angela'),
(79345,'Frank'),
(80491,'Patrick'),
(81041,'Lisa'),
(111,'Sam'),
(222,'Jam');

CREATE TABLE challenges(
	challenge_id INT,
  	hacker_id int,
  	Primary key(challenge_id),
  	constraint fk_hackers foreign key(hacker_id) 
  		references hackers(hacker_id)
);

INSERT INTO challenges
VALUES (63963, 81041),
(63117, 79345),
(28225, 34856),
(21989, 12299),
(4653, 12299),
(70070, 79345),
(36905, 34856),
(61136, 80491),
(17234, 12299),
(80308, 79345),
(40510, 34856),
(79820, 80491),
(22720, 12299),
(21394, 12299),
(36261, 34856),
(15334, 12299),
(71435, 79345),
(23157, 34856),
(54102, 34856),
(69065, 80491),
(222,111),
(223,111),
(333,222),
(334,222)

```